<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Room Reservation Directory</title>
</head>
<body>
    <header>
        <h1 class="ng-scope">Search for a Room</h1>
        <p class="ng-scope">This directory allows members of the UC Merced campus community to reserve rooms. You
            can view building and room information such as: room name and number; room type; capacity; room
            details; and room photos. Specific instructions and contacts for room reservations are provided. </p>
        <p class="ng-scope">The physical location of buildings can be viewed on the provided <a href="/images/141205_ucmerced_campusmap_rev.pdf"
                target="_blank"><strong>Campus Map</strong></a>.</p>

        <!-- <form action="http://localhost:5000/result" method="POST"> -->
        <form method="POST">
            <p>Buildings <input type="text" name="Building" /></p>
            <p>Room <input type="text" name="Room" /></p>
            <p><input type="submit" value="submit" /></p>
        </form>
    </header>
    <footer>
        <h1><a href = "\enternew">Add New Record</a></h1>
        <h1><a href = "\list">Show List</a></h1>
    </footer>
</body>

</html>