<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>Building</td>
            <td>Room</td>
            <td>Capacity</td>
            <td>Description</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["building"]}}</td>
               <td>{{row["room_number"]}}</td>
               <td> {{row["capacity"]}}</td>
               <td>{{row['description']}}</td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
      <a href = "/lookup">Search through rooms</a>
   </body>
</html>